<!DOCTYPE html>
<html ng-app="qAnMp">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href='http://fonts.googleapis.com/css?family=Source+Code+Pro:200,300,400,600' rel='stylesheet' type='text/css'>
</head>
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
<center>
  <header>
  <h1 class="banner">WOULD YOU RATHER ..</h1>
  </header>

  <h1 id="thankyou-head">
  Thankyou for submitting your questions!</h1>
  <p id="thankyo>You will receive an email once your candidate has responded to your WOULD-YOU-RATHERS</p>

  <ul class="circle-group">
<li class="circle" id="circle1"></li>
<li class="circle" id="circle2"></li>
<li class="circle" id="circle3"></li>
<li class="circle" id="circle4"></li>
<li class="circle" id="circle5"></li>
<li class="circle" id="circle6"></li>
<li class="circle" id="circle7"></li>
<li class="circle" id="circle8"></li>
<li class="circle" id="circle9"></li>
</ul>

</center>
</body>