<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You Asked And They Answered!</h1>
      <p> Hi @email @candidate has answered your question and you can find the answer here: @link </p>
  </body>
</html>