<!DOCTYPE html>
<html ng-app="qAnMp">
<head>
    <meta charset="utf-8">

    <title>FIND YOUR CANDIDATE</title>
    <meta content="" name="description">
    <meta content="width=device-width" name="viewport">
    <link href='http://fonts.googleapis.com/css?family=Source+Code+Pro:200,300,400,600' rel='stylesheet' type='text/css'>
</head>

<body ng-controller="getCandidatesByPC">

<center>
   
    <a id="cucumber" href="/postcode/postcode">
    <img class="big" src=<%= image_path('wouldyoubig.png') %> style="margin-top: 150px;">
    </a>

    <footer>
    <p id="footer-p">students stop aids©</p>
    </footer>
    </center>
 </body>
</html>