<!DOCTYPE html>
<html ng-app="qAnMp">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href='http://fonts.googleapis.com/css?family=Source+Code+Pro:200,300,400,600' rel='stylesheet' type='text/css'>
</head>
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body ng-controller='getAnswers'>
<center>
  <header>
  <h1 class="banner">WOULD YOU RATHER ..</h1>

        <ul class="circle-group">
        <li class="circle" id="circle1"></li>
        <li class="circle" id="circle2"></li>
        <li class="circle" id="circle3"></li>
        <li class="circle" id="circle4"></li>
        <li class="circle" id="circle5"></li>
        <li class="circle" id="circle6"></li>
        <li class="circle" id="circle7"></li>
        <li class="circle" id="circle8"></li>
        <li class="circle" id="circle9"></li>
</ul>
</header>
<h1 id="candidate">Your Candidate</h1>

<h2 id="sub-heading"> WOULD-YOU-RATHER</h2>

<div id="q-one">
<p class="question-answered">{{questionPrompted}}</p>
<p class="answer">{{optionChosen}}</p>
</div>

<a href="/" id="> ASK AGAIN </a>
</center> 


</body>
</html>