html, body {
  
  overflow:hidden;
  font-family: 'Source Code Pro', serif;
}
body {
  background: #111;
  color:#aaa;
  font-family: Arial, sans-serif;
  margin:0;
}

#wrap {
  background: linear-gradient(to bottom, rgba(135,153,255,1) 0%,rgba(233,60,236,1) 100%);
  overflow:hidden;
  margin: 0 auto;
}

ul {
  margin:0;
  padding:0;
}

ul li {
  margin:0;
  padding:0;
  list-style-type:none;
  height: 50px;
  display:block;
  background: rgba(240,423,105,0.9);
  border-top: 1px solid #eee;
  border-bottom: 1px solid #666;
  transition:transform 0.3s ease-out, background-color 0.3s ease-out;
}



a {
  color: #333;
  display:block;
  height: 100%;
  font-family: 'Source Code Pro', serif;
  font-size:0.8em;
  text-decoration:none;
  text-align: center;
}

.prompt-remove {
  background: rgba(255,255,150,0.4);
  /*transform:translateX(-100%);*/
  -webkit-transform: translateX(-100%);
}