* {
  font-family: 'Source Code Pro', serif;
  background-color: ;
}
div.header {
  background-color: #16DB65;
  height: 40px;
  width:100%;
  margin: 0px;
}

h1 {
  padding: 15px;
  opacity:0.4;
  font-size:8px;
}

.text-muted {
  color: black;
  opacity: 0.3;
}

// Search Bar //

div #wrap-container {
  width: 50%;
  height: 50px;
  background-color: #CEF59B;
  opacity: 0.7;
}

#wrap {
  position: absolute;
  margin-left: 15%;
  margin-right: 15%;
  width: 50%;
  height: 60px;
  padding: 0;
  border-bottom: 1px solid #BBB;
  vertical-align: text-top;
}

input.placeholder {
    text-align: center;
    padding: 0;
    margin-bottom: 0;
}

input[type="text"] {
  height: 46px;
  font-size: 10px;
  display: inline-block;
  font-family: 'Source Code Pro';
  font-weight: 100;
  border: none;
  outline: none;
  color: #555;
  padding: 3px;
  width: 50%;
  top: 0;
  right: 0;
  background: none;
  z-index: 3;
  cursor: pointer;
  border-bottom: 1px solid #BBB;
}


input[type="text"]:focus {
  z-index: 1;
  border-bottom: 1px solid #BBB;
  cursor: pointer;
  text-align: center;
}
input[type="submit"] {
  height: 67px;
  width: 63px;
  text-indent: -10000px;
  border: none;
  outline: none;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  cursor: pointer;
  opacity: 0.4;
  cursor: pointer;
  transition: opacity .4s ease;
  display: none;
}

input, input[placeholder]{
  text-align: center;
}



h3 {
  font-size:10px;
  margin-bottom:0px;
}

p {
  font-size: 10px;
  margin-top: 0px;
}

.candidate-heading {
  margin-bottom: 0px;
  padding-bottom: 0px;
}


div #candidate-image {
  padding: 0px;
  height: 25px;
  clear:both;
}


.round-button {
  width:20%;
}
.round-button-circle {
  width: 100%;
  height:0;
  padding-bottom: 100%;
  border-radius: 50%;
  border:1px solid #cfdcec;
  overflow:hidden;
  background: black; 
  opacity: 0.8;
}
.round-button-circle:hover {
  background:black;
}
.round-button a {
  display:block;
  float:left;
  width:100%;
  padding-top:40%;
  padding-bottom:20%;
  line-height:1em;
  margin-top:-0.5em;
  text-align:center;
  color:#e2eaf3;
  font-family:'Source Code Pro', serif;
  font-size:0.5em;
  font-weight:bold;
  text-decoration:none;
}

img {
  height: 20px;
}
footer {
  position:fixed;
  height:30px;
  bottom:0px;
  width:100%;
  margin-bottom: 0px;
  background-color: black;
  color: #F9CB40;
  padding-left: 20px;
  padding-top: 5px;
  font-size: 8px;
}